.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__name たけし
      .side-header__box__icon
        = link_to "#", class: "side-header__box__icon__new" do
          %i.far.fa-edit
        = link_to "#", class: "side-header__box__icon__edit" do
          %i.fa.fa-cog
  .group-list
    .group
      %P.group__name ハイグレ集団
      %p.group__latest おはよう
    .group
      %P.group__name ハイグレ集団
      %p.group__latest おはよう
  